#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}

.color-title{
    font-weight: normal;
}

img{
    width: 200px;
    height: 200px;
}

/*
EXRTRAAA
*/

h1{
    color: aquamarine;
}

h2{
    color: blueviolet;
}
