body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}

img{
    border: 5px solid white;
    /* text-align: center; */
    width: 100%;
}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}