body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.left{
  float: left;
}

.right{
  float: right;
}

.card{
  width: 40%;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

@media (max-width:680px) {
  .logo{
    width: 100px;
  }

  h1{
    font-size: 3rem;
    text-align: center;
  }

  .card{
    display: block;
    width: 100%;
    text-align: justify;
    margin-bottom: 50px;
  }

  .tile-image{
    width: 400px;
  }

}